.tab-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px;
}

.tab-list__box {
	margin: 0 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.box-item {
	@diff: 10px;

	width: calc(~'20% - @{diff}');
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;

	> .box-item__icon {
		height: 100%;
		width: 100%;
	}

	> .box-item__title {
		font-size: 14px;
		line-height: 20px;
	}

	+ .box-item {
		margin-left: 10px;
	}

	&:nth-child(n + 6) {
		margin-top: 10px;
	}

	&:nth-child(5n + 1) {
		margin-left: 0;
	}
}
